@{
    ViewBag.Title = "INICIO-hospedajeAlDia";
}
<div class="jumbotron">
    <h1>HospedajeAlDia</h1>
    <p class="lead">Es la aplicacion con la cual los establecimientos de hospedaje y alojamiento dan cumplimiento a la norma tecnica sectorial sistematizando sus sedes mediante el cumplimiento de los objetivos stablecidos en cada reunion por los empleados con la supervision del debido cumplimiento por el administrador del lugar </p>
    <p><a href="http://www.minambiente.gov.co/images/normativa/Otros/NTC/2006/NTSTS_002_2006.pdf" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Guia para el cumplimiento de la norma tecnica sectorial</h2>
        <p>
            Turismo Sostenible / Guías de Implementación de las Normas Técnicas Sectoriales de Turismo Sostenible
        </p>
        <p><a class="btn btn-default" href="http://www.certificacioncalidadturistica.com.co/attachments/courses/1/10/Guia%20de%20implementaci%C3%B3n%20de%20la%20NTS-TS%20002.%20Establecimientos%20de%20Alojamiento%20y%20Hospedaje.pdf">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Registro Nacional de Turismo</h2>
        <p>La Ley 300 de 1996 en el artículo 61 estableció el Registro Nacional de Turismo y el artículo 12 de la Ley 1101 de 2006 define los prestadores de servicios turísticos obligados a registrarse antes de iniciar sus operaciones en Colombia. Este Registro es obligatorio para su funcionamiento y debe actualizarse anualmente.</p>
        <p><a class="btn btn-default" href="http://www.mincit.gov.co/minturismo/publicaciones/12184/registro_nacional_de_turismo">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pregunta Frecuente</h2>
        <p>¿En dónde se pueden encontrar las Normas Técnicas Sectoriales?, ¿Es cierto que todos los prestadores de servicios turísticos debemos certificarnos en Normas Técnicas Sectoriales (NTS) para actualizar el RNT?...</p>
        <p><a class="btn btn-default" href="http://www.mincit.gov.co/minturismo/publicaciones/36070/preguntas_frecuentes">Learn more &raquo;</a></p>
    </div>
</div>